/* Color palette - RGB values */
:root {
  /* Color styles */
  --gray--0: 29, 32, 33;
  --gray--0s: 50, 48, 47;
  --gray--1: 40, 40, 40;
  --gray--2: 60, 56, 54;
  --gray--3: 80, 73, 69;
  --gray--4: 102, 92, 84;
  --gray--5: 124, 111, 100;
  --gray--5s: 117, 117, 117;
  --gray--6: 146, 131, 116;
  --gray--7: 168, 153, 132;
  --gray--8: 189, 174, 147;
  --gray--9: 213, 196, 161;
  --gray--10: 235, 219, 178;
  --gray--10s: 242, 229, 188;
  --gray--11: 251, 241, 199;
  --gray--12: 249, 245, 215;
  --red--dark: 157, 0, 6;
  --red--normal: 204, 36, 29;
  --red--light: 251, 73, 52;
  --green--dark: 121, 116, 14;
  --green--normal: 152, 151, 26;
  --green--light: 184, 187, 38;
  --yellow--dark: 181, 118, 20;
  --yellow--normal: 215, 153, 33;
  --yellow--light: 250, 189, 47;
  --blue--dark: 7, 102, 120;
  --blue--normal: 69, 133, 136;
  --blue--light: 131, 165, 152;
  --purple--dark: 143, 63, 113;
  --purple--normal: 177, 98, 134;
  --purple--light: 211, 134, 155;
  --aqua--dark: 66, 123, 88;
  --aqua--normal: 104, 157, 106;
  --aqua--light: 142, 192, 124;
  --orange--dark: 175, 58, 3;
  --orange--normal: 214, 93, 14;
  --orange--light: 254, 128, 25;
  --white--0: 255, 255, 255;
  --white--1: 238, 238, 238;
  --white--2: 221, 221, 221;
  --white--3: 204, 204, 204;
}
