/* Text-size styles */
:root {
  --hero-title-1: 90px;
  --hero-title-2: 50px;
  --hero-title-3: 50px;
  --display-1---bold: 56px;
  --display-1---medium: 56px;
  --display-1---regular: 56px;
  --display-2---regular: 40px;
  --display-2---bold: 40px;
  --display-2---medium: 40px;
  --title-1---bold: 36px;
  --title-1---medium: 36px;
  --title-1---regular: 36px;
  --title-2---bold: 28px;
  --title-2---medium: 28px;
  --title-2---regular: 28px;
  --title-3---bold: 24px;
  --title-3---medium: 24px;
  --title-3---regular: 24px;
  --heading-1---bold: 22px;
  --heading-1---medium: 22px;
  --heading-1---regular: 22px;
  --heading-2---bold: 20px;
  --heading-2---medium: 20px;
  --heading-2---regular: 20px;
  --headline-1---bold: 18px;
  --headline-1---medium: 18px;
  --headline-1---regular: 18px;
  --headline-2---bold: 17px;
  --headline-2---medium: 17px;
  --headline-2---regular: 17px;
  --body-1---normal----regular: 16px;
  --body-1---normal----medium: 16px;
  --body-1---normal----bold: 16px;
  --body-1---reading----regular: 16px;
  --body-1---reading----medium: 16px;
  --body-1---reading----bold: 16px;
  --body-2---normal----regular: 15px;
  --body-2---normal----medium: 15px;
  --body-2---normal----bold: 15px;
  --body-2---reading----regular: 15px;
  --body-2---reading----medium: 15px;
  --body-2---reading----bold: 15px;
  --label-1---normal----bold: 14px;
  --label-1---normal----medium: 14px;
  --label-1---normal----regular: 14px;
  --label-1---reading----bold: 14px;
  --label-1---reading----medium: 14px;
  --label-1---reading----regular: 14px;
  --label-2---regular: 13px;
  --label-2---medium: 13px;
  --label-2---bold: 13px;
  --caption-1---regular: 12px;
  --caption-1---medium: 12px;
  --caption-1---bold: 12px;
  --caption-2---regular: 11px;
  --caption-2---medium: 11px;
  --caption-2---bold: 11px;
}
